body {
    background-color: #C0EAED;
}

img {
    margin-left: 130px;
    margin-bottom: 60px;
}

.Mpic1 {
    width: 35%;
    height: 718px;
}

.Mpic2 {
    width: 35%;
    height: 718px;
}

.Mpic3 {
    width: 35%;
    height: 718px;
}

.Mpic4 {
    width: 35%;
    height: 718px;
}