body {
    background-color: #C0EAED;
}

button {
    display: flex;
    border: none;
    width: 20%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 25px;
    justify-content: center;
    margin-left: 40%;
    margin-top: 50px;
    padding-top: 10px;
    background-color: #5AA799;
    border-radius: 6px;

}

button:hover {
    background-color: #3a6960;
    color: aliceblue;
}